<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
</head>

<body>
	<h1>register</h1>
	<form method="post" enctype="multipart/form-data" >
		{% csrf_token %}
		{{uf.as_p}}
		<input type="submit" value="ok"/>
	</form>

	<h1>download</h1>
	<form enctype="multipart/form-data" action="/disk1/" method="post">
	{% csrf_token %}
	<input type="submit" value="download"/>
	</form>

	{% load static from staticfiles %}
	<img src="{% static "mmm.png" %}" alt="Hi!" /> 

</body>


</html>
